<h1>
  <span class="fi-dollar-bill"></span>
  Baneficiado
  # <%= @payee.id %>
</h1>

<div class="row">
	<div class="small-3 columns">Nome</div>
	<div class="small-9 columns">
		<%= @payee.name %>
	</div>
</div>

<hr>

<div class="row">
	<div class="small-12 column">
		<%= link_to payees_path, class: 'button secondary small left' do %>
			<span class="fi-arrow-left"></span>
			Voltar
		<% end %>
		<div class="right">
			<%= link_to 'Apagar', @payee, method: :delete, class: 'button alert small', data: { confirm: 'Tem certeza?' } %>
			<%= link_to 'Editar', edit_payee_path(@payee), class: 'button small' %>
		</div>
	</div>
</div>
