<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
      <%= f.text_field :info, label: 'Informações', autofocus: true %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-3 columns">
      <%
        transaction_options = options_for_select([
            ["Entrada", Transaction.transaction_types[:in]],
            ["Saída", Transaction.transaction_types[:out]]
          ],
          Transaction.transaction_types[@transaction.transaction_type]
        ) %>
      <%= f.select :transaction_type, transaction_options, label: 'Tipo' %>
    </div>
    <div class="small-12 medium-3 columns">
      <%= f.select :category_id, options(@categories), label: 'Categoria' %>
    </div>
    <div class="small-12 medium-3 columns">
      <%= f.select :account_id, options(@accounts), label: 'Conta' %>
    </div>
    <div class="small-12 medium-3 columns">
      <%= f.select :payee_id, options(@payees), label: 'Beneficiado', include_blank: true %>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="small-12 medium-6 columns">
      <h6>Estimativa</h6>
      <%= f.text_field :date_estimated, type: 'date', label: 'Data prevista', order: [:day, :month, :year] %>
      <%= f.number_field :amount_estimated, label: 'Estimativa', value: @transaction.show_amount_estimated.abs, step: "any" %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.check_box :commited, label: 'Já aconteceu', checked: @transaction.commited, class: 'checkbox_commited' %>

      <%= f.text_field :date_transaction, type: 'date', label: 'Data de execução', order: [:day, :month, :year] %>
      <%= f.number_field :amount, label: 'Valor real', value: @transaction.show_amount.abs, step: "any" %>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="small-12 columns">
      <%= f.text_area :description, label: 'Descrição/Anotações', size: '100%x10' %>
    </div>
  </div>

  <%= f.submit (@transaction.id ? 'Atualizar' : 'Criar') %>

<% end %>
