<h1>
  <span class="fi-dollar-bill"></span>
  Transações
  <%= link_to new_transaction_path, class: 'round tiny button' do %>
    <span class="fi-plus"></span>&nbsp;
    criar
  <% end %>
</h1>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: "alert-box #{name}" %>
<% end -%>

<table class="tablesaw tablesaw-stack" data-mode="stack">
  <thead>
    <tr>
      <th scope="column">Infomação</th>
      <th scope="column">Beneficiado</th>
      <th scope="column">Estimativa</th>
      <th scope="column">Data Estimada</th>
      <th scope="column">Valor</th>
      <th scope="column">Data</th>
      <th scope="column">Já aconteceu?</th>
      <th scope="column" width="175">Ação</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td>
          <%= link_to transaction do %>
            <%= category_bullet transaction.category %>
            <span data-tooltip aria-haspopup="true" class="has-tip" title="<%= tip transaction %>">
              <%= transaction.info %>
            </span>
          <% end %>
        </td>
        <td><%= transaction.payee ? transaction.payee.name : '-' %></td>
        <td class="<%= cel_amount_class transaction %>">R$ <%= '%.2f' % (transaction.show_amount_estimated || 0) %></td>
        <td><%= transaction.date_estimated %></td>
        <td class="<%= cel_amount_class transaction %>">R$ <%= '%.2f' % transaction.show_amount %></td>
        <td><%= transaction.date_transaction || '--' %></td>
        <td><%= transaction.commited ? 'Sim' : 'Não' %></td>
        <td>
          <ul class="button-group radius">
          <% if [:in, :out].include?(transaction.transaction_type.to_sym) && not(transaction.commited?) %>
            <li><button onclick="commit_transaction(<%= transaction.id %>, <%= transaction.show_amount_estimated.abs %>, &#39;<%= transaction.date_estimated %>&#39;)" class="btn success tiny"><i class="fi-arrow-down"></i></button></li>
          <% end %>
          <% if [:in, :out].include? transaction.transaction_type.to_sym %>
            <%= render partial: 'shared/action_buttons', locals: { controller: "transactions", object: transaction } %>
          <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="commit-action" class="reveal-modal medium" data-reveal>
  <h1>Confirmando transação</h1>
  <%= form_for Transaction.new, method: :put, url: transaction_path('1') do |f| %>
    <%= f.hidden_field :commited, value: 1 %>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.text_field :date_transaction, type: 'date', label: 'Data de execução' %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.text_field :amount, label: 'Valor real', type: 'number', step: 'any' %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= f.submit 'Atualizar' %>
      </div>
    </div>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
