<h1>
  <span class="fi-dollar-bill"></span>
  Transações
  <%= link_to new_transaction_path, class: 'round tiny button' do %>
    <span class="fi-plus"></span>&nbsp;
    criar
  <% end %>
</h1>

<table class="tablesaw tablesaw-stack" data-mode="stack">
  <thead>
    <tr>
      <th scope="column">Infomação</th>
      <th scope="column">Beneficiado</th>
      <th scope="column">Estimativa</th>
      <th scope="column">Data Estimada</th>
      <th scope="column">Valor</th>
      <th scope="column">Data</th>
      <th scope="column">Já aconteceu?</th>
      <th scope="column" width="130">Ação</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td>
          <%= link_to transaction do %>
            <%= category_bullet transaction.category %>
            <span data-tooltip aria-haspopup="true" class="has-tip" title="<%= tip transaction %>">
              <%= transaction.info %>
            </span>
          <% end %>
        </td>
        <td><%= transaction.payee ? transaction.payee.name : '-' %></td>
        <td class="<%= error_class transaction.amount_estimated %>">R$ <%= '%.2f' % (transaction.amount_estimated || 0) %></td>
        <td><%= transaction.date_estimated %></td>
        <td class="<%= error_class transaction.amount %>">R$ <%= '%.2f' % (transaction.amount || 0) %></td>
        <td><%= transaction.date_transaction || '--' %></td>
        <td><%= transaction.commited ? 'Sim' : 'Não' %></td>
        <td><%= render partial: 'shared/action_buttons', locals: { controller: "transactions", object: transaction } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
