<h1>
  <span class="fi-dollar-bill"></span>
  Transação
  # <%= @transaction.id %>
</h1>

<div class="row">
  <div class="small-3 columns">Categoria</div>
  <div class="small-9 columns">
    <%= @transaction.category ? @transaction.category.name : '-' %>
  </div>
</div>

<div class="row">
  <div class="small-3 columns">Conta</div>
  <div class="small-9 columns">
    <%= @transaction.account.name %>
  </div>
</div>

<div class="row">
  <div class="small-3 columns">Descrição</div>
  <div class="small-9 columns">
    <%= @transaction.info %>
  </div>
</div>

<div class="row">
  <div class="small-3 columns">Data estimada</div>
  <div class="small-9 columns">
    <%= @transaction.date_estimated %>
  </div>
</div>

<div class="row">
  <div class="small-3 columns">Valor estimado</div>
  <div class="small-9 columns">
    R$ <%= '%.2f' % (@transaction.amount_estimated || 0) %>
  </div>
</div>

<hr />

<div class="row">
  <div class="small-3 columns">Já aconteceu?</div>
  <div class="small-9 columns">
    <%= '<span class="fi-check"></span>'.html_safe if @transaction.commited %>
    <%= '<span class="fi-x"></span>'.html_safe unless @transaction.commited %>
  </div>
</div>

<div class="row">
  <div class="small-3 columns">Data real</div>
  <div class="small-9 columns">
    <%= @transaction.date_estimated %>
  </div>
</div>

<div class="row">
  <div class="small-3 columns">Valor real</div>
  <div class="small-9 columns">
    R$ <%= '%.2f' % (@transaction.amount || 0) %>
  </div>
</div>

<hr>

<div class="row">
  <div class="small-3 columns">Descrição/Anotações</div>
  <div class="small-9 columns">
    <%= @transaction.description ? @transaction.description : '<span class="text-mutted">Sem anotações</span>'.html_safe %>
  </div>
</div>

<hr>

<div class="row">
  <div class="small-12 column">
    <%= link_to transactions_path, class: 'button secondary small left' do %>
      <span class="fi-arrow-left"></span>
      Voltar
    <% end %>
    <div class="right">
      <%= link_to 'Apagar', @transaction, method: :delete, class: 'button alert small', data: { confirm: 'Tem certeza?' } %>
      <%= link_to 'Editar', edit_transaction_path(@transaction), class: 'button small' %>
    </div>
  </div>
</div>
