<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Fluxo de Caixa" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Fluxo de Caixa</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <li><a href="/transactions">Transações</a></li>
          <li><%= link_to 'Categorias', categories_path %></li>
          <li><%= link_to 'Beneficiados', payees_path %></li>
          <li><%= link_to 'Contas', accounts_path %></li>
        </ul>
        <ul class="right">
          <li class="show-for-medium-up">
            <a href="#">
              <span class="fi-torso"></span>
              <%= current_user.email %>
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to 'Sair', destroy_user_session_path, :method => :delete %>
          </li>
        </ul>
      </section>
    </nav>

    <div class="row">
      <div class="small-12 columns">
      
        <% if notice.present? %>
            <div data-alert class="alert-box info radius">
              <%= notice %>
              <a href="#" class="close">&times;</a>
            </div>
        <% end %>

        <% if alert.present? %>
            <div data-alert class="alert-box alert radius">
              <%= alert %>
              <a href="#" class="close">&times;</a>
            </div>
        <% end %>

        <%= yield %>
      </div>
    </div>


    <%= javascript_include_tag "application" %>
  </body>
</html>
