<%= form_for @account do |f| %>
  <% if @account.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@account.errors.count, "erro") %> invalidaram a criação desta conta:</h2>
      <ul>
        <% @account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.text_field :name, label: 'Nome' %>

  <% if @account.new_record? %>
    <%= label_tag 'Valor inicial' %>
    <%= number_field :transaction, :ammount, name: :start_ammount, step: 0.5 %>
  <% end %>

  <%= f.text_area :description, label: 'Descrição' %>

  <%= f.submit (@account.id ? 'Atualizar' : 'Criar') %>

<% end %>
